
body{
    background-image: linear-gradient(to right, gray 50%, #d4d8d4 80%);
}

#grad {
    background-image: linear-gradient( #9ffaab 50%, #9ffae6 80%);
  }


  .card-columns {
    padding-left: 10%;
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}